{
  "spec": "pixy.spec.json",
  "tiles": {
    "g": "grass.pix",
    "w": "water.pix",
    "t": "tree.pix",
    ".": null
  },
  "map": [
    "ggggggggg",
    "ggtgggwgg",
    "gggggwwwg",
    "ggggggwgg",
    "ggggggggg"
  ]
}
